<% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert" id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
