# <h1>SOS from <%= @user.name %></h1>

# <h2>Last known location coordinates are: <%= @user.location %>

# <p>
#   Click here for a link to googlemap: <a href="https://googlemaps.com">Google Map</a>
# </p>
<h1> SOS!!</h1>