<h1>SOS from <%= @user.name %></h1>

<h2>Last known location coordinates are: <%= @user.location %>

<p>
  Click here for a link to GoogleMaps: <a href="http://www.google.com/maps/place/<%=@user.location.gsub(" ", "")%>">Google Map</a>
</p>
