<button id = "find-me">Show my location</button><br/>
<p id = "status"></p>
<a id = "map-link" target="_blank"></a>

<% content_for :after_js do %>
  <%= javascript_pack_tag "geolocation" %>
<% end %>

