<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 sos col-s-12">
      <button type="button" id="find-me" class="sos btn btn-danger">SOS</button><br/>
      <p id = "status"></p>
      <a id = "map-link" target="_blank"></a>
    </div>
  </div>
</div>
<% content_for :after_js do %>
  <%= javascript_pack_tag "geolocation" %>
<% end %>

