<h1>SOS</h1>
<h2>
  For emergencies, quickly send your last location to your contacts!
  <%= link_to "Sign-up", new_user_registration_path %> or 
  <%= link_to "Login", new_user_session_path %> now!
</h2>

