<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">SOS</h1>
  <p class="lead">For your safety and emergencies, quickly send your last location to your contacts!
  </p>
  <br>
  <%= link_to "Sign-up", new_user_registration_path, class:"btn btn-primary" %>
  <%= link_to "Login", new_user_session_path, class:"btn btn-primary-outline" %>
</div>

