@import './bootstrap_custom.scss';

.btn {
  margin: .25em;
  width: 6em;
}

.logo {
  text-decoration: none !important;
  color: inherit;
}

main {
  height: 80vh;
}

footer {
  height: 2.5vh;
  text-align:center;
  vertical-align: auto;
}

.remember-me-checkbox {
  padding-left: 1.5em;
}

.sos {
  text-align: center;
}