@import './bootstrap_custom.scss';

.btn {
  margin: .25em;
  width: 6em;
}

.logo {
  text-decoration: none !important;
  color: inherit;
}

main {
  height: 80vh;
}


#content {
  position: relative;
  height: auto !important;
  min-height: 95%;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align:center;
  vertical-align: auto;
  padding-top: 2em;
}

.remember-me-checkbox {
  padding-left: 1.5em;
}

.sos {
  text-align: center;
}

.form {
  margin-bottom: 3em;
}
.delete-button {
  font-size: 1em;
}